In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import time
%matplotlib inline

In [2]:
sales = pd.read_csv('sales_train_v2.csv')
sales.head(2)

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154       999.0           1.0
1  03.01.2013               0       25     2552       899.0           1.0

In [3]:
items = pd.read_csv('items.csv')
items.head(2)

,item_name,item_id,item_category_id
0,! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.) D,0,40
1,!ABBYY FineReader 12 Professional Edition Full...,1,76

In [4]:
monthly_sparse = sales.groupby(['date_block_num', 'shop_id', 'item_id'], as_index=False)[['item_cnt_day']].agg('sum')
monthly_sparse.rename(mapper={'item_cnt_day': 'item_cnt_month'}, inplace=True, axis=1)
monthly_sparse.head()

   date_block_num  shop_id  item_id  item_cnt_month
0               0        0       32             6.0
1               0        0       33             3.0
2               0        0       35             1.0
3               0        0       43             1.0
4               0        0       51             2.0

In [15]:
# month_dfs = []
# start = time.time()
# for date_block_num in range(34):  # iterates through months 0 to 33
#     date_block_num_col = []
#     shop_id_col = []
#     item_id_col = []
#     item_cnt_month_col = []
#     temp_df1 = monthly_sparse[monthly_sparse['date_block_num'] == date_block_num]
#     for shop_id in range(60):  # iterates through store ids 0 to 59
#         temp_df2 = temp_df1[temp_df1['shop_id'] == shop_id]
#         for item_id in range(22170):  # iterates through store ids 0 to 22169
#             date_block_num_col.append(date_block_num)
#             shop_id_col.append(shop_id)
#             item_id_col.append(item_id)
#             # The value to append to item_cnt_month_col is more complicated:
#             temp_df3 = temp_df2[temp_df2['item_id'] == item_id]
#             if len(temp_df3) > 0:
#                 # There's a row for this combination of month, shop_id and item_id, so use that number
#                 item_cnt_month_col.append(temp_df3['item_cnt_month'].values[0])
#             else:
#                 # There's no row for this combination, so there were 0 sales, so append 0 instead
#                 item_cnt_month_col.append(0)
#     # Turn column lists into a DataFrame and store it for later concatenation
#     month_dfs.append(pd.DataFrame({'date_block_num': date_block_num_col, 'shop_id': shop_id_col,
#                                    'item_id': item_id_col, 'item_cnt_month': item_cnt_month_col},
#                                   columns=['date_block_num', 'shop_id', 'item_id', 'item_cnt_month']))
#     print('date_block_num = {} built. Run time: {} minutes.'.format(date_block_num, round((time.time() - start) / 60)))
# print('DataFrames created:', len(month_dfs))

date_block_num = 0 built. Run time: 13 minutes.
date_block_num = 1 built. Run time: 25 minutes.
date_block_num = 2 built. Run time: 38 minutes.
date_block_num = 3 built. Run time: 50 minutes.
date_block_num = 4 built. Run time: 63 minutes.
date_block_num = 5 built. Run time: 76 minutes.
date_block_num = 6 built. Run time: 88 minutes.
date_block_num = 7 built. Run time: 101 minutes.
date_block_num = 8 built. Run time: 113 minutes.
date_block_num = 9 built. Run time: 126 minutes.
date_block_num = 10 built. Run time: 138 minutes.
date_block_num = 11 built. Run time: 151 minutes.
date_block_num = 12 built. Run time: 163 minutes.
date_block_num = 13 built. Run time: 176 minutes.
date_block_num = 14 built. Run time: 188 minutes.
date_block_num = 15 built. Run time: 201 minutes.
date_block_num = 16 built. Run time: 213 minutes.
date_block_num = 17 built. Run time: 226 minutes.
date_block_num = 18 built. Run time: 238 minutes.
date_block_num = 19 built. Run time: 251 minutes.
date_block_num = 20 built. Run time: 263 minutes.
date_block_num = 21 built. Run time: 275 minutes.
date_block_num = 22 built. Run time: 288 minutes.
date_block_num = 23 built. Run time: 300 minutes.
date_block_num = 24 built. Run time: 313 minutes.
date_block_num = 25 built. Run time: 325 minutes.
date_block_num = 26 built. Run time: 338 minutes.
date_block_num = 27 built. Run time: 351 minutes.
date_block_num = 28 built. Run time: 363 minutes.
date_block_num = 29 built. Run time: 376 minutes.
date_block_num = 30 built. Run time: 388 minutes.
date_block_num = 31 built. Run time: 401 minutes.
date_block_num = 32 built. Run time: 414 minutes.
date_block_num = 33 built. Run time: 426 minutes.
DataFrames created: 34

In [16]:
# month_dfs[0]

         date_block_num  shop_id  item_id  item_cnt_month
0                     0        0        0             0.0
1                     0        0        1             0.0
2                     0        0        2             0.0
3                     0        0        3             0.0
4                     0        0        4             0.0
5                     0        0        5             0.0
6                     0        0        6             0.0
7                     0        0        7             0.0
8                     0        0        8             0.0
9                     0        0        9             0.0
10                    0        0       10             0.0
11                    0        0       11             0.0
12                    0        0       12             0.0
13                    0        0       13             0.0
14                    0        0       14             0.0
15                    0        0       15             0.0
16                    0        0       16             0.0
17                    0        0       17             0.0
18                    0        0       18             0.0
19                    0        0       19             0.0
20                    0        0       20             0.0
21                    0        0       21             0.0
22                    0        0       22             0.0
23                    0        0       23             0.0
24                    0        0       24             0.0
25                    0        0       25             0.0
26                    0        0       26             0.0
27                    0        0       27             0.0
28                    0        0       28             0.0
29                    0        0       29             0.0
...                 ...      ...      ...             ...
1330170               0       59    22140             0.0
1330171               0       59    22141             0.0
1330172               0       59    22142             0.0
1330173               0       59    22143             0.0
1330174               0       59    22144             0.0
1330175               0       59    22145             0.0
1330176               0       59    22146             0.0
1330177               0       59    22147             0.0
1330178               0       59    22148             0.0
1330179               0       59    22149             0.0
1330180               0       59    22150             0.0
1330181               0       59    22151             2.0
1330182               0       59    22152             0.0
1330183               0       59    22153             0.0
1330184               0       59    22154             1.0
1330185               0       59    22155             0.0
1330186               0       59    22156             0.0
1330187               0       59    22157             0.0
1330188               0       59    22158             0.0
1330189               0       59    22159             0.0
1330190               0       59    22160             0.0
1330191               0       59    22161             0.0
1330192               0       59    22162             0.0
1330193               0       59    22163             0.0
1330194               0       59    22164             0.0
1330195               0       59    22165             0.0
1330196               0       59    22166             0.0
1330197               0       59    22167             0.0
1330198               0       59    22168             0.0
1330199               0       59    22169             0.0

[1330200 rows x 4 columns]

In [17]:
# monthly = pd.concat(month_dfs, ignore_index=True)
# len(monthly)

45226800

In [5]:
monthly = pd.read_csv('all_monthly_sales.csv')
monthly.head()

   date_block_num  shop_id  item_id  item_cnt_month
0               0        0        0             0.0
1               0        0        1             0.0
2               0        0        2             0.0
3               0        0        3             0.0
4               0        0        4             0.0

In [6]:
monthly.memory_usage(deep=True)

Index                    80
date_block_num    361814400
shop_id           361814400
item_id           361814400
item_cnt_month    361814400
dtype: int64

In [7]:
print('Total memory usage: {} MB'.format(round(monthly.memory_usage(deep=True).sum() / 1024**2)))

Total memory usage: 1380.0 MB

In [21]:
# monthly.to_csv('all_monthly_sales.csv', index=False)

## Adding columns that will be used to construct features

In [9]:
start = time.time()
monthly['year'] = monthly['date_block_num'].apply(lambda x: str((x // 12) + 2013))
print('Run time: {} minutes.'.format(round((time.time() - start) / 60)))

Run time: 0 minutes.

In [10]:
start = time.time()
monthly['month'] = monthly['date_block_num'].apply(lambda x: str(x % 12))
print('Run time: {} minutes.'.format(round((time.time() - start) / 60)))

Run time: 0 minutes.

In [11]:
items.set_index('item_id', inplace=True)
items.head()

                                                 item_name  item_category_id
item_id
0                ! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.)         D                40
1        !ABBYY FineReader 12 Professional Edition Full...                76
2            ***В ЛУЧАХ СЛАВЫ   (UNV)                    D                40
3          ***ГОЛУБАЯ ВОЛНА  (Univ)                      D                40
4              ***КОРОБКА (СТЕКЛО)                       D                40

In [13]:
start = time.time()
monthly['item_cat'] = monthly['item_id'].apply(lambda x: items.loc[x]['item_category_id'])
# The following two lines were alternative ways to achieve the same thing but are slower than the above.
# monthly['item_cat'] = monthly['item_id'].apply(lambda x: items[items['item_id'] == x]['item_category_id'].values[0])
# monthly = pd.merge(monthly, items[['item_id', 'item_category_id']], on='item_id', how='left')
print('Run time: {} minutes.'.format(round((time.time() - start) / 60)))

Run time: 161 minutes.

## Adding features

Add a feature for the mean of item_cnt_month for this store during this month of the year.

In [14]:
start = time.time()
mean_by_month_shop = monthly.groupby(['month', 'shop_id']).agg({'item_cnt_month': 'mean'})
print('Run time: {} minutes.'.format(round((time.time() - start) / 60)))
mean_by_month_shop.head()

Run time: 0 minutes.

               item_cnt_month
month shop_id
0     0              0.083867
      1              0.044309
      2              0.045452
      3              0.040776
      4              0.071147

In [15]:
start = time.time()
monthly['mean_month_shop'] = monthly.apply(lambda row: mean_by_month_shop.loc[row['month'], row['shop_id']].values[0], axis=1)
print('Run time: {} minutes.'.format(round((time.time() - start) / 60)))

Run time: 170 minutes.

Add a feature for the mean for this category for this month of the year.

In [16]:
start = time.time()
mean_by_month_cat = monthly.groupby(['month', 'item_cat']).agg({'item_cnt_month': 'mean'})
print('Run time: {} minutes.'.format(round((time.time() - start) / 60)))
mean_by_month_cat.head()

Run time: 0 minutes.

                item_cnt_month
month item_cat
0     0               0.001389
      1               0.002778
      2               0.229556
      3               0.493137
      4               0.132222

In [17]:
start = time.time()
monthly['mean_month_cat'] = monthly.apply(lambda row: mean_by_month_cat.loc[row['month'], row['item_cat']].values[0], axis=1)
print('Run time: {} minutes.'.format(round((time.time() - start) / 60)))

Run time: 168 minutes.

Add a feature for the mean for the year, excluding November and December because they are unusually high and are missing from 2015.

In [18]:
start = time.time()
mean_by_year_jan_to_oct = monthly[~monthly['month'].isin(['11', '12'])].groupby(['year']).agg({'item_cnt_month': 'mean'})
print('Run time: {} minutes.'.format(round((time.time() - start) / 60)))
mean_by_year_jan_to_oct.head()

Run time: 0 minutes.

      item_cnt_month
year
2013        0.094271
2014        0.078740
2015        0.057479

In [19]:
start = time.time()
monthly['mean_by_year'] = monthly['year'].apply(lambda x: mean_by_year_jan_to_oct.loc[x].values[0])
print('Run time: {} minutes.'.format(round((time.time() - start) / 60)))

Run time: 85 minutes.

In [20]:
monthly.head()

,date_block_num,shop_id,item_id,item_cnt_month,year,month,item_cat,mean_month_shop,mean_month_cat,mean_by_year
0,0,0,0,0.0,2013,0,40,0.083867,0.077969,0.094271
1,0,0,1,0.0,2013,0,76,0.083867,0.008292,0.094271
2,0,0,2,0.0,2013,0,40,0.083867,0.077969,0.094271
3,0,0,3,0.0,2013,0,40,0.083867,0.077969,0.094271
4,0,0,4,0.0,2013,0,40,0.083867,0.077969,0.094271

In [21]:
monthly.memory_usage(deep=True)

Index                      80
date_block_num      361814400
shop_id             361814400
item_id             361814400
item_cnt_month      361814400
year               2758834800
month              2628475200
item_cat            361814400
mean_month_shop     361814400
mean_month_cat      361814400
mean_by_year        361814400
dtype: int64

In [22]:
print('Total memory usage: {} MB'.format(round(monthly.memory_usage(deep=True).sum() / 1024**2)))

Total memory usage: 7898.0 MB

In [23]:
# Change from strings to integers to reduce memory footprint.
# They needed to be strings before for error-free indexing with .loc over a MultiIndex
monthly['year'] = pd.to_numeric(monthly['year'])
monthly['month'] = pd.to_numeric(monthly['month'])

In [24]:
print('Total memory usage: {} MB'.format(round(monthly.memory_usage(deep=True).sum() / 1024**2)))

Total memory usage: 3451.0 MB

Changing those two columns from strings to ints reduced DataFrame memory by more than half!

According to the kaggle contest page, the test set's target variable has been adjusted to be within the range 0 <= item_cnt_month <= 20. Therefore the same should be done to our training data so that it doesn't have crazy outliers (some are as high as 2000+, which totally skews some models).

In [26]:
start = time.time()
monthly['item_cnt_month'] = monthly['item_cnt_month'].apply(lambda x: x if x >= 0 else 0)
monthly['item_cnt_month'] = monthly['item_cnt_month'].apply(lambda x: x if x <= 20 else 20)
print('Run time: {} minutes.'.format(round((time.time() - start) / 60)))

Run time: 0 minutes.

In [36]:
start = time.time()
# Get DF properly arranged
monthly.sort_values(['shop_id', 'item_id', 'date_block_num'], inplace=True)
print('Run time: {} minutes.'.format(round((time.time() - start) / 60)))

Run time: 0 minutes.

In [37]:
start = time.time()
# Item count for 1 month ago
monthly['item_cnt_1_ago'] = monthly.groupby(['shop_id', 'item_id'])['item_cnt_month'].shift(1)
print('Run time: {} minutes.'.format(round((time.time() - start) / 60)))

Run time: 0 minutes.

In [38]:
# Item count for 2 months ago
monthly['item_cnt_2_ago'] = monthly.groupby(['shop_id', 'item_id'])['item_cnt_month'].shift(2)
# Item count for 3 months ago
monthly['item_cnt_3_ago'] = monthly.groupby(['shop_id', 'item_id'])['item_cnt_month'].shift(3)
# Item count for 4 months ago
monthly['item_cnt_4_ago'] = monthly.groupby(['shop_id', 'item_id'])['item_cnt_month'].shift(4)

In [62]:
monthly.iloc[1020:1026, :]  # In these rows you can see a case of non-zero sales moving through the "_ago" columns.

,date_block_num,shop_id,item_id,item_cnt_month,year,month,item_cat,mean_month_shop,mean_month_cat,mean_by_year,item_cnt_1_ago,item_cnt_2_ago,item_cnt_3_ago,item_cnt_4_ago
30,0,0,30,0.0,2013,0,40,0.083867,0.077969,0.094271,NaN,NaN,NaN,NaN
1330230,1,0,30,20.0,2013,1,40,0.092121,0.068648,0.094271,0.0,NaN,NaN,NaN
2660430,2,0,30,0.0,2013,2,40,0.000000,0.077929,0.094271,20.0,0.0,NaN,NaN
3990630,3,0,30,0.0,2013,3,40,0.000000,0.062372,0.094271,0.0,20.0,0.0,NaN
5320830,4,0,30,0.0,2013,4,40,0.000000,0.054820,0.094271,0.0,0.0,20.0,0.0
6651030,5,0,30,0.0,2013,5,40,0.000000,0.056670,0.094271,0.0,0.0,0.0,20.0

In [58]:
print('Total memory usage: {} MB'.format(round(monthly.memory_usage(deep=True).sum() / 1024**2)))

Total memory usage: 5176.0 MB

In [63]:
# Save the results of all that long computation!
start = time.time()
monthly.to_csv('monthly_with_shifts.csv')
print('Run time: {} minutes.'.format(round((time.time() - start) / 60)))

Run time: 13 minutes.

## Fixing mean_by_year
I realized I goofed up the mean_by_year column. Each year's average includes January-November, but is only supposed to include January-October. So now I'm going to fix it by recalculating the mean_by_year_jan_to_oct DataFrame and using it to overwrite the values in the 'monthly' DataFrame. I was going to run it over again up above but then my computer crashed, and after restarting I've decided to load from the .csv (to save compute time) and fix it down here.

In [8]:
start = time.time()
monthly = pd.read_csv('monthly_with_shifts.csv')
print('Run time: {} minutes.'.format(round((time.time() - start) / 60)))

Run time: 2 minutes.

In [9]:
monthly.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45226800 entries, 0 to 45226799
Data columns (total 15 columns):
Unnamed: 0         int64
date_block_num     int64
shop_id            int64
item_id            int64
item_cnt_month     float64
year               int64
month              int64
item_cat           int64
mean_month_shop    float64
mean_month_cat     float64
mean_by_year       float64
item_cnt_1_ago     float64
item_cnt_2_ago     float64
item_cnt_3_ago     float64
item_cnt_4_ago     float64
dtypes: float64(8), int64(7)
memory usage: 5.1 GB

In [10]:
start = time.time()
# Note: in the line below, month numbering starts from 0, not 1, so 10 is November and 11 is December.
mean_by_year_jan_to_oct = monthly[~monthly['month'].isin([10, 11])].groupby(['year']).agg({'item_cnt_month': 'mean'})
print('Run time: {} minutes.'.format(round((time.time() - start) / 60)))
mean_by_year_jan_to_oct.head()

Run time: 0 minutes.

      item_cnt_month
year
2013        0.085368
2014        0.069746
2015        0.050812

In [11]:
start = time.time()
monthly['mean_by_year'] = monthly['year'].apply(lambda x: mean_by_year_jan_to_oct.loc[x].values[0])
print('Run time: {} minutes.'.format(round((time.time() - start) / 60)))

Run time: 90 minutes.

In [12]:
monthly.head()

,Unnamed: 0,date_block_num,shop_id,item_id,item_cnt_month,year,month,item_cat,mean_month_shop,mean_month_cat,mean_by_year,item_cnt_1_ago,item_cnt_2_ago,item_cnt_3_ago,item_cnt_4_ago
0,0,0,0,0,0.0,2013,0,40,0.083867,0.077969,0.085368,NaN,NaN,NaN,NaN
1,1330200,1,0,0,0.0,2013,1,40,0.092121,0.068648,0.085368,0.0,NaN,NaN,NaN
2,2660400,2,0,0,0.0,2013,2,40,0.000000,0.077929,0.085368,0.0,0.0,NaN,NaN
3,3990600,3,0,0,0.0,2013,3,40,0.000000,0.062372,0.085368,0.0,0.0,0.0,NaN
4,5320800,4,0,0,0.0,2013,4,40,0.000000,0.054820,0.085368,0.0,0.0,0.0,0.0

In [22]:
monthly.drop('Unnamed: 0', axis=1, inplace=True)

In [24]:
start = time.time()
monthly.to_csv('monthly_with_shifts.csv', index=False)
print('Run time: {} minutes.'.format(round((time.time() - start) / 60)))

Run time: 13 minutes.

## Selecting the training/validation data out of the full dataset
Based on exploratory analysis, I saw that the testing set includes every combination of an item that was sold in that month (5100 distinct item_ids) and a shop that sold an item (42 distinct shop_ids). However, if the preceeding 5-6 months are any indicator, most of these shops didn't sell most of the included items, for a ratio of roughly 85% zero-sales of the particular item at the particular store. The training and validation sets should have about the same properties as the test set, so roughly this ratio should be present in the training/validation set. The full dataset constructed above is about 96.5% zero-sales, so only subsets of it can be included in the training/validation set. I will select this data according to the pattern in the test set: for each date_block_num value, every combination of an item sold in that month and a shop that sold an item in that month will be included. However, because one or more historical (shifted sales) numbers are missing (NaN) for the first 4 months in the dataset, these will be left out. Therefore I start at date_block_num = 4. Plenty of data remains.

In [13]:
chosen_dfs = []
start = time.time()
for i in range(4, 34):
    sold_df = monthly_sparse[monthly_sparse['date_block_num'] == i]
    sold_item_ids = sold_df['item_id'].unique()
    sold_shop_ids = sold_df['shop_id'].unique()
    # Make lists for storing the column values to go into our next dataframe
    item_cnt_month_col = []
    mean_month_shop_col = []
    mean_month_cat_col = []
    mean_by_year_col = []
    item_cnt_1_ago_col = []
    item_cnt_2_ago_col = []
    item_cnt_3_ago_col = []
    item_cnt_4_ago_col = []
    block_df = monthly[monthly['date_block_num'] == i]
    for item_id in sold_item_ids:
        item_df = block_df[block_df['item_id'] == item_id]
        for shop_id in sold_shop_ids:
            row = item_df[item_df['shop_id'] == shop_id].iloc[0]  # returns a Series with the single row's contents
            item_cnt_month_col.append(row['item_cnt_month'])
            mean_month_shop_col.append(row['mean_month_shop'])
            mean_month_cat_col.append(row['mean_month_cat'])
            mean_by_year_col.append(row['mean_by_year'])
            item_cnt_1_ago_col.append(row['item_cnt_1_ago'])
            item_cnt_2_ago_col.append(row['item_cnt_2_ago'])
            item_cnt_3_ago_col.append(row['item_cnt_3_ago'])
            item_cnt_4_ago_col.append(row['item_cnt_4_ago'])
    chosen_dfs.append(pd.DataFrame({'item_cnt_month': item_cnt_month_col, 'mean_month_shop': mean_month_shop_col,
                                    'mean_month_cat': mean_month_cat_col, 'mean_by_year': mean_by_year_col,
                                    'item_cnt_1_ago': item_cnt_1_ago_col, 'item_cnt_2_ago': item_cnt_2_ago_col,
                                    'item_cnt_3_ago': item_cnt_3_ago_col, 'item_cnt_4_ago': item_cnt_4_ago_col},
                                   columns=['item_cnt_month', 'mean_month_shop', 'mean_month_cat', 'mean_by_year',
                                           'item_cnt_1_ago', 'item_cnt_2_ago', 'item_cnt_3_ago', 'item_cnt_4_ago']))
    print('date_block_num = {} processed. Run time: {} minutes.'.format(i, round((time.time() - start) / 60)))
len(chosen_dfs)

date_block_num = 4 processed. Run time: 5 minutes.
date_block_num = 5 processed. Run time: 11 minutes.
date_block_num = 6 processed. Run time: 17 minutes.
date_block_num = 7 processed. Run time: 22 minutes.
date_block_num = 8 processed. Run time: 27 minutes.
date_block_num = 9 processed. Run time: 32 minutes.
date_block_num = 10 processed. Run time: 38 minutes.
date_block_num = 11 processed. Run time: 43 minutes.
date_block_num = 12 processed. Run time: 48 minutes.
date_block_num = 13 processed. Run time: 53 minutes.
date_block_num = 14 processed. Run time: 58 minutes.
date_block_num = 15 processed. Run time: 62 minutes.
date_block_num = 16 processed. Run time: 67 minutes.
date_block_num = 17 processed. Run time: 72 minutes.
date_block_num = 18 processed. Run time: 77 minutes.
date_block_num = 19 processed. Run time: 81 minutes.
date_block_num = 20 processed. Run time: 86 minutes.
date_block_num = 21 processed. Run time: 91 minutes.
date_block_num = 22 processed. Run time: 95 minutes.
date_block_num = 23 processed. Run time: 100 minutes.
date_block_num = 24 processed. Run time: 104 minutes.
date_block_num = 25 processed. Run time: 109 minutes.
date_block_num = 26 processed. Run time: 113 minutes.
date_block_num = 27 processed. Run time: 116 minutes.
date_block_num = 28 processed. Run time: 120 minutes.
date_block_num = 29 processed. Run time: 123 minutes.
date_block_num = 30 processed. Run time: 126 minutes.
date_block_num = 31 processed. Run time: 129 minutes.
date_block_num = 32 processed. Run time: 132 minutes.
date_block_num = 33 processed. Run time: 136 minutes.

30

In [14]:
chosen = pd.concat(chosen_dfs, ignore_index=True)

In [15]:
len(chosen)

9416385

In [16]:
chosen.memory_usage(deep=True)

Index                    80
item_cnt_month     75331080
mean_month_shop    75331080
mean_month_cat     75331080
mean_by_year       75331080
item_cnt_1_ago     75331080
item_cnt_2_ago     75331080
item_cnt_3_ago     75331080
item_cnt_4_ago     75331080
dtype: int64

In [17]:
print('Total memory usage: {} MB'.format(round(chosen.memory_usage(deep=True).sum() / 1024**2)))

Total memory usage: 575.0 MB

In [18]:
chosen.to_csv('chosen.csv', index=False)

## Adding the features to the test data

In [25]:
test = pd.read_csv('test.csv')
test.head()

   ID  shop_id  item_id
0   0        5     5037
1   1        5     5320
2   2        5     5233
3   3        5     5232
4   4        5     5268

Need to recalculate the mean_by_month_shop and mean_by_month_cat DFs because my computer crashed, so they're not in memory anymore.

In [27]:
start = time.time()
mean_by_month_shop = monthly.groupby(['month', 'shop_id']).agg({'item_cnt_month': 'mean'})
print('Run time: {} minutes.'.format(round((time.time() - start) / 60)))
mean_by_month_shop.head()

Run time: 0 minutes.

               item_cnt_month
month shop_id
0     0              0.081356
      1              0.044084
      2              0.044414
      3              0.040400
      4              0.068321

In [28]:
start = time.time()
mean_by_month_cat = monthly.groupby(['month', 'item_cat']).agg({'item_cnt_month': 'mean'})
print('Run time: {} minutes.'.format(round((time.time() - start) / 60)))
mean_by_month_cat.head()

Run time: 0 minutes.

                item_cnt_month
month item_cat
0     0               0.001389
      1               0.002778
      2               0.229407
      3               0.485131
      4               0.133333

In [29]:
start = time.time()
test['mean_month_shop'] = test['shop_id'].apply(lambda x: mean_by_month_shop.loc[10, x].values[0])
print('Run time: {} minutes.'.format(round((time.time() - start) / 60)))

Run time: 1 minutes.

In [31]:
start = time.time()
test['item_cat'] = test['item_id'].apply(lambda x: items.loc[x]['item_category_id'])
# The following two lines were alternative ways to achieve the same thing but are slower than the above.
# monthly['item_cat'] = monthly['item_id'].apply(lambda x: items[items['item_id'] == x]['item_category_id'].values[0])
# monthly = pd.merge(monthly, items[['item_id', 'item_category_id']], on='item_id', how='left')
print('Run time: {} minutes.'.format(round((time.time() - start) / 60)))

Run time: 1 minutes.

In [32]:
start = time.time()
test['mean_month_cat'] = test['item_cat'].apply(lambda x: mean_by_month_cat.loc[10, x].values[0])
print('Run time: {} minutes.'.format(round((time.time() - start) / 60)))

Run time: 1 minutes.

In [34]:
mean_by_year_jan_to_oct.head()

      item_cnt_month
year
2013        0.085368
2014        0.069746
2015        0.050812

In [36]:
test['mean_by_year'] = mean_by_year_jan_to_oct.loc[2015].values[0]

In [39]:
block_33 = monthly[monthly['date_block_num'] == 33]

In [40]:
item_cnt_1_ago_col = []
item_cnt_2_ago_col = []
item_cnt_3_ago_col = []
item_cnt_4_ago_col = []
start = time.time()
for index, test_row in test.iterrows():
    item_df = block_33[block_33['item_id'] == test_row['item_id']]
    monthly_row = item_df[item_df['shop_id'] == test_row['shop_id']].iloc[0]
    item_cnt_1_ago_col.append(monthly_row['item_cnt_month'])
    item_cnt_2_ago_col.append(monthly_row['item_cnt_1_ago'])
    item_cnt_3_ago_col.append(monthly_row['item_cnt_2_ago'])
    item_cnt_4_ago_col.append(monthly_row['item_cnt_3_ago'])
print('Run time: {} minutes.'.format(round((time.time() - start) / 60)))

Run time: 14 minutes.

In [41]:
test['item_cnt_1_ago'] = item_cnt_1_ago_col
test['item_cnt_2_ago'] = item_cnt_2_ago_col
test['item_cnt_3_ago'] = item_cnt_3_ago_col
test['item_cnt_4_ago'] = item_cnt_4_ago_col

In [42]:
test.head()

,ID,shop_id,item_id,mean_month_shop,item_cat,mean_month_cat,mean_by_year,item_cnt_1_ago,item_cnt_2_ago,item_cnt_3_ago,item_cnt_4_ago
0,0,5,5037,0.059517,19,0.192317,0.050812,0.0,1.0,3.0,1.0
1,1,5,5320,0.059517,55,0.075187,0.050812,0.0,0.0,0.0,0.0
2,2,5,5233,0.059517,19,0.192317,0.050812,1.0,3.0,1.0,0.0
3,3,5,5232,0.059517,23,0.181670,0.050812,0.0,0.0,1.0,0.0
4,4,5,5268,0.059517,20,0.471762,0.050812,0.0,0.0,0.0,0.0

In [43]:
test.drop(['shop_id', 'item_id', 'item_cat'], axis=1, inplace=True)

In [44]:
test.head()

,ID,mean_month_shop,mean_month_cat,mean_by_year,item_cnt_1_ago,item_cnt_2_ago,item_cnt_3_ago,item_cnt_4_ago
0,0,0.059517,0.192317,0.050812,0.0,1.0,3.0,1.0
1,1,0.059517,0.075187,0.050812,0.0,0.0,0.0,0.0
2,2,0.059517,0.192317,0.050812,1.0,3.0,1.0,0.0
3,3,0.059517,0.181670,0.050812,0.0,0.0,1.0,0.0
4,4,0.059517,0.471762,0.050812,0.0,0.0,0.0,0.0

In [45]:
chosen.head()

,item_cnt_month,mean_month_shop,mean_month_cat,mean_by_year,item_cnt_1_ago,item_cnt_2_ago,item_cnt_3_ago,item_cnt_4_ago
0,1.0,0.034671,0.151543,0.085368,1.0,1.0,1.0,1.0
1,0.0,0.033333,0.151543,0.085368,0.0,0.0,0.0,0.0
2,0.0,0.051541,0.151543,0.085368,2.0,2.0,0.0,0.0
3,0.0,0.050038,0.151543,0.085368,0.0,0.0,0.0,0.0
4,0.0,0.111111,0.151543,0.085368,0.0,3.0,1.0,3.0

In [46]:
test.to_csv('test_features.csv', index=False)